*.log
*.aux
include.mk

secret/vault_password

# ansible galaxy roles
ansible/roles/elliotweiser.osx-command-line-tools/
ansible/roles/geerlingguy.homebrew/

# jekyll stuff
Gemfile.lock
_site
vendor/
