schedule = watch_start, 5, 5, ((load.start_verbose, "/mnt/trs/*"))
directory = /mnt/downed/

session = ./.session/

encryption = allow_incoming,enable_retry,try_outgoing

dht = disable
schedule = low_diskspace,5,60,close_low_diskspace=10G

network.http.max_open.set = 99
network.max_open_files.set = 600
network.max_open_sockets.set = 999

check_hash = no
port_range = 1027-1027
