---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding: 50px;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
}

img.front_profile {
  max-width: 50%;
}

h1, h2, h3, h4, h5, h6 {
  margin:20px 0 20px;
}

.pre {
  white-space: pre;
}

header ul a:active {
  background-color:transparent !important;
}

ul {
  position:static !important;
  margin: 0 0 0;
}

p {
  margin: 20px 0 20px;
}

table.posts {
}

.posts th:first-child {
  width: 300px;
}

.posts th {
  color: inherit;
  border-bottom: none;
  padding: 0px 0px;
  font-weight: normal;
}

.posts li {
  padding-left: 23px;
}

.posts a {
  font-size:unset;
  color:#267CB9;
  display:unset;
  text-align:unset;
}

.posts a:hover, .posts a:focus {
  color:#069;
  font-weight:bold;
}

.posts a strong {
  font-size:unset;
  display:unset;
  color:unset;
}

ul.images {
  overflow: auto;
  list-style:none;
  padding: 5px 10px;
  border:0px;
}

.images li {
  list-style:none;
  float:left;
  padding: 5px 5px;
}
