---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
  margin:20px 0 20px;
}

.pre {
  white-space: pre;
}

header ul a:active {
  background-color:transparent !important;
}

ul {
  position:static !important;
  margin:0 0 0;
}

ul.posts {
  list-style:none;
  padding:0;
  background: #f4f4f4;
  border-radius:0px;
  border:1px solid #e0e0e0;
  width:480px;
  height:30px;
}

.posts li:first-child {
  width:100px;
}

.posts li:last-child {
  width:379px;
}

.posts li {
  height:30px;
  float:left;
  border-right:1px solid #e0e0e0;
  border-radius:5px;
  line-height: normal;
}

.posts li+li {
  border-right:none;
}

.posts a {
  font-size:15px;
  color:#222;
  display:block;
  text-align:center;
}

.posts a:hover, .posts a:focus {
  color:#675C5C;
  font-weight:bold;
}

.posts a strong {
  font-size:14px;
  display:block;
  color:#222;
}

ul.images {
  overflow: auto;
  list-style:none;
  padding: 5px 10px;
  border:0px;
}

.images li {
  list-style:none;
  float:left;
  padding: 5px 5px;
}
