---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
  margin:20px 0 20px;
}

.pre {
  white-space: pre;
}

header ul a:active {
  background-color:transparent !important;
}

ul {
  position:static !important;
  margin: 0 0 0;
}

p {
  margin: 20px 0 20px;
}

ul.posts {
  list-style:unset;
  list-style-type:disc;
  display:block;
  padding-inline-start: 40px;
  background:unset;
  border-radius:unset;
  border:unset;
  width:unset;
  height:unset;
}

.posts li:first-child {
  width:unset;
}

.posts li:last-child {
  width:unset;
}

.posts li {
  display:list-item;
  height:unset;
  float:unset;
  border-right:unset;
  border-radius:unset;
  line-height:unset;
}

.posts li+li {
  border-right:unset;
}

.posts a {
  font-size:unset;
  color:#267CB9;
  display:unset;
  text-align:unset;
}

.posts a:hover, .posts a:focus {
  color:#069;
  font-weight:bold;
}

.posts a strong {
  font-size:unset;
  display:unset;
  color:unset;
}

ul.images {
  overflow: auto;
  list-style:none;
  padding: 5px 10px;
  border:0px;
}

.images li {
  list-style:none;
  float:left;
  padding: 5px 5px;
}
