---
---

@import "{{ site.theme }}";

ul.posts {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

.posts li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

.posts li:first-child a {
  border-radius:5px 0 0 5px;
}

.posts li:last-child a {
  border-radius:0 5px 5px 0;
}

.posts a {
  line-height:1;
  font-size:11px;
  color:#676767;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

.posts a:hover, .posts a:focus {
  color:#675C5C;
  font-weight:bold;
}

.posts ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

.posts li + li {
  border-right:none;
  width:89px;
}

.posts a strong {
  font-size:14px;
  display:block;
  color:#222;
}
