[push]
    default = matching
[user]
    email = me@smaslennikov.com
    name = Svyatoslav I. Maslennikov
    signingkey = 0966E2426B9E28CC
[tag]
    forceSignAnnotated = true
[alias]
    git = !exec git
    c = checkout
    o = commit
    p = pull
    u = push
    r = push --rebase
[apply]
    whitespace = nowarn
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[commit]
    gpgsign = true
